.header {
  background: #bd031a;
  color: #ffffff;
  width: 100vw;
}

.header-content {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 50px;
}

.user-icon {
  font-size: 25px;
  margin-left: 5px;
}
